@media (max-width: 400px) {
  * {
    cursor: default;
  }
  body {
    user-select: none;
    pointer-events: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .phone {
    border-radius: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
  .tap {
    width: 120%;
    transform: scale(0.9) translate(-50%, 0);
    left: 45%;
  }
  .text-hedding:nth-child(2) {
    font-size: 50px;
    letter-spacing: 4px;
  }
  .text-heddings {
  }
  .img-hedding {
    width: 300px;
  }
  .start-game {
    padding-top: 40px;
    z-index: 3;
  }
  .notch {
    display: none;
  }
  .clutch {
    top: 10%;
  }
  .end-clutch {
    top: 10%;
    left: 10%;
  }
  .flare {
    left: -40%;
  }
  .taping > .tap {
    left: -270px;
  }
  .swipe {
    display: none;
  }
  .screen {
    cursor: none;
    padding: 0;
    height: 100%;
    border-radius: 0;
  }
  .canvas-container {
    width: 100%;
    height: 100%;
  }
}

@media (max-height: 400px) {
  .phone {
    width: 800px;
    height: 100%;
    border-radius: 0;
    border: 0;
  }
  .screen {
    border-radius: 0;
    border: 0;
  }
  .hedding {
    width: 40%;
    transform: rotate(0deg);
    z-index: 5;
  }
  .ballons {
    z-index: 1;
  }
  .notch {
    display: none;
  }
  .swipe {
    display: none;
  }
  .taps {
    left: -50%;
  }
  .tap {
    width: 450px;
    font-size: 50px;
    left: 50px;
  }
  .start-game {
    align-items: center;
    padding-top: 50px;
  }
  .clutch {
    width: 0%;
    top: -13%;
    z-index: 3;
  }
  .captain {
    width: 300px;
    height: 300px;
  }
  .karobka {
    width: 110px;
  }
  .miska {
    width: 120px;
    top: 83px;
  }
  .flare {
    width: 400px;
    top: -60px;
  }
  .canvas-container {
    height: 100%;
  }
  .start-btn {
    top: -70px;
    left: 16%;
  }
  .text-heddings {
    font-size: 50px;
  }
  .end-game {
    padding-top: 50px;
  }
  .game {
    padding: 40px 0;
  }
  .end-clutch {
    width: 50%;
    top: -100px;
  }
  .again {
    flex-direction: row;
    bottom: 3%;
  }
  .taping {
    justify-content: end;
    right: 100px;
    width: 100%;
    display: flex;
  }
  .end-score {
    order: 1;
  }
  .tapi {
    width: 250px;
    transform: scale(0.9) translate(-20%, 0);
    left: 20%;
  }
  .end-clutch > .captain {
    width: 250px;
  }
  .end-clutch > .karobka {
    width: 90px;
    left: 30px;
  }
  .end-clutch > .miska {
    width: 90px;
    left: 30px;
  }
  .end-clutch > .flare {
    left: 0;
  }
}
